/* Default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #D2D2D2;
    padding-top: 150px;
}

/* Header Styles */
header {
    background-color: #D2D2D2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
}

header a {
    color: #000;
    text-decoration: none;
    padding: 0 10px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header .logo img {
    max-width: 17px;
    height: auto; 
}


.toggle-icon {
    display: none;
}

.toggle-label {
    display: none;
}

nav input {
    display: none;
}

nav input:checked + label .fa-bars {
    display: none;
}

nav input:checked + label .fa-times {
    display: block;
}

nav input:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #D2D2D2;
    box-shadow: 0 0 10px #D2D2D2;
    z-index: 1;
}

header .nav-link {
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    display: inline-block; 
    justify-content: center;
}

header .nav-link:hover {
    border-bottom: 2px solid #000;
}

/* Main Section Styles */
main {
    padding: 0 calc(8px + 1.5625vw);
    position: relative;
}

main h3 {
    font-size: 40px;
    line-height: 0.5;
}
 
main p {
    font-size: 16px;
    line-height: 1;
} 

/* Container Styles */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left and Right Styles */
.left,
.right {
    width: 50%;
}

.right img {
    max-width: auto;
    height: auto; 
}

.intro-header{
    padding-bottom: 5px;
}

.intro-paragraph{
    padding-bottom: 40px;
}

.buttons{
    padding-bottom: 40px;
}

/* Stats Styles */
.stats {
    display: flex;
    margin-right: 50px; 
}

.stat {
    display: block;
}

.stat .number {
    display: block;
    font-size: 20px; 
    font-weight: bold;
    margin-right: 70px;
}

.stat .label {
    display: block;
    font-size: 16px; 
}

/* Button Styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.success {
    background-color: #000;
    color: #fff;
    width: 230px;
    height: 50px;
    margin-right: 40px;
}

.success:hover {
    box-shadow: 2px 2px 2px #000;
    border: 2px solid #000;
    background-color: #D2D2D2;
    color: #000;
}

.call {
    background-color: #fff;
    box-shadow: 2px 2px 2px #000;
    border: 2px solid #000;
    color: #000;
    width: 230px;
    height: 50px;
    margin-right: 40px;
}

.call:hover {
    background-color: #D2D2D2;
}

/* Card Container Styles */
.card-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-around; 
}

/* Card Styles */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    position: relative;
}

.price {
    color: grey;
    font-size: 22px;
}

/* Card Button Styles */
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Email Button Styles */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}

form.example button:hover {
    background: grey;
}

.community-header {
    display: flex; 
    justify-content: center;
}

.community-paragraph {
    display: flex; 
    justify-content: center;
}

.email-area {
    margin: 20px;
    display: flex;
    justify-content: center;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #D2D2D2;
    color: #323232;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    border-right: none;
}

.email-area button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #323232;
    border-radius: 0 10px 10px 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: -10px; 
}

.email-area button:hover{
    background-color: #000;
}

.logo-commynity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-commynity img {
    max-width: 26px;
    height: 26px;
    margin-right: 10px;
}

/* Watch Container Styles */
.watch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.watch-1 {
    margin: -100px;  
    margin-top: 20px;
    width: 260px;
    height: 375px;
}

.watch-2 {
    margin-top: 120px;
    margin-bottom: -20px;
    width: 375px;
    height: auto;
}

.watch-3 {  
    margin-right: -100px;
    width: auto;
    height: 375px;
} 

/* Responsive Styles */
@media (max-width: 768px) {
    
    header {
        flex-direction: row;
    }

    header .logo {
        margin-bottom: 10px;
    }

    .toggle-label {
        display: block;
        cursor: pointer;
        color: #000;
        font-size: 24px;
    }

    .toggle-icon:checked ~ nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #D2D2D2; 
        box-shadow: 0 0 10px #D2D2D2;
        z-index: 1;
    }

    .nav-link {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #7b2cbf;
        box-shadow: 0 0 10px #7b2cbf;
        z-index: 1;
    }

    header .nav-link {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .header-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-actions button, .header-actions .nav-link {
        margin-bottom: 10px;
    }

    main {
        padding: 0 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        width: 100%;
        text-align: center;
    }

    .right img {
        width: 100%;
        height: auto;
    }

    .buttons,
    .stats,
    .community-paragraph,
    .email-area {
        text-align: center;
    }

    .card-container {
        flex-direction: row;
       
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card img {
        width: 100%;
    }

    .watch-container {
        flex-direction: column;
        align-items: center;
    }

    .watch-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .watch-container img,
    .watch-image {
        display: none;
    }
}

/* Mascot Styles */
  .mascot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: appear 20s forwards, bounce 1s infinite alternate;
    cursor: pointer;
    z-index: 1002;
}

.mascot img {
    width: 200px;
    height: auto;
}

.mascot:hover::before {
    content: "Welcome to WATCHES.CO! Explore our exquisite collection of watches.";
    display: block;
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    border-radius: 5px;
    z-index: 1003;
}

.mascot:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 140%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    z-index: 1002;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}